<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <include resource="org/springframework/boot/logging/logback/defaults.xml"/>
    
    <springProperty scope="context" name="appName" source="spring.application.name" defaultValue="inno-user-service"/>
    <springProperty scope="context" name="lokiUrl" source="management.loki.url" defaultValue="http://loki:3100"/>
    
    
    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%clr(%d{yyyy-MM-dd HH:mm:ss.SSS}){faint} %clr(${LOG_LEVEL_PATTERN:-%5p}) %clr(${PID:- }){magenta} %clr(---){faint} %clr([%15.15t]){faint} %clr(%-40.40logger{39}){cyan} %clr(:){faint} %m%n${LOG_EXCEPTION_CONVERSION_WORD:-%wEx} trace_id=%X{traceId} span_id=%X{spanId}</pattern>
            <charset>utf8</charset>
        </encoder>
    </appender>
    
    
    <appender name="LOKI" class="com.github.loki4j.logback.Loki4jAppender">
        <http>
            <url>${lokiUrl}/loki/api/v1/push</url>
        </http>
        <format>
            <label>
                <pattern>application=${appName},host=${HOSTNAME},level=%level</pattern>
            </label>
            <message>
                <pattern>
                    {
                    "timestamp":"%d{ISO8601}",
                    "level":"%level",
                    "thread":"%thread",
                    "logger":"%logger{36}",
                    "message":"%msg",
                    "trace_id":"%X{traceId:-}",
                    "span_id":"%X{spanId:-}",
                    "exception":"%ex{full}"
                    }
                </pattern>
            </message>
            <sortByTime>true</sortByTime>
        </format>
    </appender>
    
    <root level="INFO">
        <appender-ref ref="CONSOLE"/>
        <appender-ref ref="LOKI"/>
    </root>
    
    
    <logger name="com.innowise.userservice" level="DEBUG" additivity="false">
        <appender-ref ref="CONSOLE"/>
        <appender-ref ref="LOKI"/>
    </logger>
    
    
    <logger name="org.springframework" level="INFO"/>
    <logger name="org.hibernate" level="INFO"/>
    <logger name="io.micrometer" level="INFO"/>
    <logger name="io.opentelemetry" level="INFO"/>
</configuration>
